<div class="row p-2 d-flex justify-content-center">


    <div class="col card mb-3 shadow">
        <div class="row card-body">
            <div class="col-6">
                <div class="row">
                    <h4>{{namePage}}</h4>
                </div>
                <div class="row">
                    <div class="col">

                        <a routerLink="/">Contact</a>
                        >
                        <span>Add New</span>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex flex-row-reverse">
                <button class="button button--pan" routerLink="/freelancer-add/">
                    <span>Add new Contact</span>
                </button>
            </div>
        </div>


    </div>

</div>

<app-child-freelancer [childFreelancer]="freelancer"></app-child-freelancer>