<div class="row d-flex justify-content-center">
    <div class="col-4 p-2" *ngFor="let freelancer of childFreelancer">
        <div class="card p-2 shadow">
            <div class="card-body text-center">
                <img src="./assets/images/photo2.jpg" alt="avatar" class="rounded-circle img-fluid mb-3 shadow"
                    style="width: 150px" />
                <h5>{{freelancer.name}}</h5>
                <p>{{freelancer.skill}}</p>
                <p>{{freelancer.phone | phone}}</p>
                <p>{{freelancer.notes}}</p>
                <div class="d-flex view-contact bd-highlight">
                    <a class="text p-2 w-100 bd-highlight" routerLink="/freelancer-detail/{{freelancer.id}}">
                        VIEW PROFILE
                    </a>
                    <!-- <button type="button" routerLink="/freelancer-detail/{{freelancer.id}}">
                            VIEW PROFILE
                        </button> -->
                    <button class="p-2 flex-shrink-1 bd-highlight" type="button"
                        (click)="deleteFreelancer(freelancer.id)">DELETE</button>

                </div>
            </div>
        </div>
        <!-- <a routerLink="/freelancer-detail/{{cont.id}}"></a> -->
    </div>

</div>